<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Interface Graphique</title>
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    th, td {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
  <h1>Archives</h1>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Time</th>
        <th>Type</th>
      </tr>
    </thead>
    <tbody>
      <% archives.forEach(function(archive) { %>
        <tr>
          <td><%= archive.id %></td>
          <td><%= archive.time %></td>
          <td><%= archive.type %></td>
        </tr>
      <% }); %>
    </tbody>
  </table>

  <button id="postButton">Envoyer Message</button>

  <script>
    document.getElementById('postButton').addEventListener('click', async () => {
      const message = 'Test';
      try {
        const response = await fetch('http://localhost:3000/UI', {
          method: 'POST',
          body: message,
          headers: {
            'Content-Type': 'text/plain; charset=UTF-8'
          }
        });

        if (response.ok) {
          const responseData = await response.text();
          console.log('Réponse du serveur:', responseData);
        } else {
          console.error('Erreur lors de l\'envoi de la requête');
        }
      } catch (error) {
        console.error('Erreur:', error);
      }
    });
  </script>
</body>
</html>
